html
  head
    title= title
    link(href='/spartan.css', rel='stylesheet')

  body
    div(
      id='allwrite-docs'
      class='allwrite-docs'
      data-root='/docs'
      data-api='http://localhost:8000'
    )!= content

    script(src='/spartan.js')
